body{
    display: block;
    margin: 20px;
}
button{
    display: block;
    width: 100px;
    height: 20px;
    margin-top: 15px;
}
.testButton{
    transition: 800ms;
}
.buttonShadow{
    transition: 800ms;
    box-shadow: 5px 5px 5px 5px blueviolet;
}

#info,#infoButtons,.content{
    display: inline-block;
}
.content{
    transition: 500ms;
}
.content2{
    transition: 500ms;
    background: green;
    width: max-content;
    height: max-content;
}
.bemutatkozas{
    display: block;
    background: rgb(195, 195, 238);
    width: max-content;
    height: max-content;
}